<div class="favourites-page">
  <h1 class="story-page-heading">Favourites</h1>

  @if (stories.length > 0) {
    <div class="favourites-inner">
      @for (story of stories; track story) {
        <app-news-item-bookmark
          [id]="story.id"
          [title]="story.title"
          [by]="story.by"
          [descendants]="story.descendants"
          [score]="story.score"
          [type]="story.type"
          [url]="story.url"
          [time]="story.time"
          [alreadyAdded]="true"
        ></app-news-item-bookmark>
      }
    </div>
  } @else {
    <div class="nothing">
      <p>Looks like you have not favourited any stories yet. Go add one!</p>
    </div>
  }
</div>
