<!-- <picture>
  <source
    srcset="
      https://static01.nyt.com/images/2022/05/03/lens/03scotus-fader-HP7pm-03/merlin_206347395_1d92a735-eb8b-4a98-84c7-be02dd1f4221-threeByTwoMediumAt2X.jpg
    "
    media="(max-width: 600px)"
  />
  <img src="/assets/images/display1.jpg" alt="Voting" />
</picture> -->

<div class="carousel-container" #container>
  <div class="animate-slideshow">
    <img src="/assets/images/belhold.webp" />
  </div>
  <div class="animate-slideshow">
    <img src="/assets/images/derail.jpg" />
  </div>
  <div class="animate-slideshow">
    <img src="/assets/images/fader.webp" />
  </div>
  <div class="animate-slideshow">
    <img src="/assets/images/gates.webp" />
  </div>
  <div class="animate-slideshow">
    <img src="/assets/images/merlin.webp" />
  </div>
  <div class="animate-slideshow active">
    <img src="/assets/images/display1.jpg" />
  </div>
</div>
