
.home
    min-height: 200vh
    display: flex
    flex-direction: column
    gap: 50px
    section
        .heading
            margin-bottom: 20px
            text-align: center

            h1
                font-size: 2.5rem