@import "../../../assets/sass/_breakpoints"
@import "../../../assets/sass/_colors"
@import "../../../assets/sass/_fonts"

h3
    font-size: 1rem
    line-height: 1.2em

.square
    width: 1rem
    height: 1rem

.home
    font-family: $playfair-display

    main
        .main-inner
            display: grid
            grid-column-gap: calc(1rem * 2 + 1px)
            grid-template-columns: repeat(20, 1fr)
            padding-bottom: 2.5rem

            .left
                grid-column: span 14

                &::before
                    content: ''
                    display: block
                    border-top: 1px solid black
                    margin-bottom: 1rem
                    clear: both

            .right
                grid-column: span 6
