<div class="home">
  <app-wide-highlight-section></app-wide-highlight-section>

  <main>
    <div class="main-inner">
      <div class="left">
        <app-macro-news-layout-i></app-macro-news-layout-i>

        <app-macro-news-layout-ii></app-macro-news-layout-ii>
      </div>

      <aside class="right">
        <div class="divider"></div>
        <section class="job-stories">
          <div class="section-label">Job stories</div>
          <app-news-item-variant-iv></app-news-item-variant-iv>
          <app-news-item-variant-iv avatar="dfsdfd"></app-news-item-variant-iv>
          <div class="ads">
            <div>
              <img src="/assets/images/aws-ad.png" alt="AWS Ads" />
            </div>
          </div>
          <app-news-item-variant-iv></app-news-item-variant-iv>
          <app-news-item-variant-iv illus="fdsf"></app-news-item-variant-iv>
          <div class="doubly">
            <app-news-item-variant-iv></app-news-item-variant-iv>
            <app-news-item-variant-iv></app-news-item-variant-iv>
          </div>
        </section>
      </aside>
    </div>

    <!-- Ads -->
    <app-full-width-ads></app-full-width-ads>

    <!-- Four column posts -->
    <app-wide-columns-section></app-wide-columns-section>

    <section class="show-stories">
      <div class="section-label">Show stories</div>
      <div class="square"></div>
      <div class="show-stories-inner">
        <div class="left-part">
          <div class="wrapper">
            <div class="kafka">
              <div class="upper">
                <div class="posts">
                  <app-news-item-variant-iii></app-news-item-variant-iii>
                  <app-news-item-variant-iii></app-news-item-variant-iii>
                </div>
                <div class="imgs">
                  <figure>
                    <picture class="css-cov0u6"
                      ><source
                        media="screen and (max-width: 600px)"
                        srcset="
                          https://static01.nyt.com/images/2022/05/03/us/abortion-bans-restrictons-roe-v-wade-promo-1651599223293/abortion-bans-restrictons-roe-v-wade-promo-1651599223293-threeByTwoSmallAt2X-v6.png?format=pjpg&amp;quality=75&amp;auto=webp&amp;disable=upscale
                        " />
                      <img src="/assets/images/display3.webp" alt=""
                    /></picture>
                    <caption>
                      A minuscule caption tries to be inconspicuous
                    </caption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="bower">
              <app-news-item-variant-iii></app-news-item-variant-iii>
              <app-news-item-variant-iii></app-news-item-variant-iii>
            </div>
          </div>
        </div>
        <div class="right-part">
          <div class="wrapper">
            <app-news-item-variant-vii
              *ngFor="let i of range(7)"
            ></app-news-item-variant-vii>
          </div>
        </div>
      </div>
    </section>

    <!-- Paid post -->
    <app-paid-post></app-paid-post>
  </main>
</div>
