<div class="home">
  <app-wide-highlight-section></app-wide-highlight-section>

  <main>
    <div class="main-inner">
      <div class="left">
        <app-macro-news-layout-i></app-macro-news-layout-i>

        <app-macro-news-layout-ii></app-macro-news-layout-ii>
      </div>

      <div class="right">
        <app-aside-news-layout></app-aside-news-layout>
      </div>
    </div>

    <!-- Ads -->
    <app-full-width-ads></app-full-width-ads>

    <!-- Four column posts -->
    <app-wide-columns-section></app-wide-columns-section>

    <!-- Wide news layout section -->
    <app-wide-news-section-i></app-wide-news-section-i>

    <!-- Paid post -->
    <app-paid-post></app-paid-post>
  </main>
</div>
