<section class="top-stories">
  <div class="section-label">Top stories</div>

  <!-- Story 1 -->
  <app-headline [headline]="headline"></app-headline>
  <div class="top-stories-inner">
    <!-- Story 2,3,4 -->
    <div class="left1">
      <app-news-item-variant-iii
        [id]="story?.id ?? 0"
        [title]="story?.title ?? ''"
      ></app-news-item-variant-iii>
      <app-news-item-variant-iii
        [id]="story2?.id ?? 0"
        [title]="story2?.title ?? ''"
      ></app-news-item-variant-iii>
      <app-news-item-variant-iii
        [id]="story3?.id ?? 0"
        [title]="story3?.title ?? ''"
        description=""
      ></app-news-item-variant-iii>
    </div>

    <!-- Story 5 -->
    <div class="right1">
      <div class="big-story-wrapper">
        <h3>{{ story5Title }}</h3>
        <app-image
          [src]="story5ImgPath"
          [description]="story5ImgCaption"
        ></app-image>
        <p>
          {{ story5Description }}
        </p>
      </div>
    </div>
  </div>
</section>
