<section class="top-stories">
  <div class="section-label">Top stories</div>
  <app-headline
    headline="J.D. Vance Wins Republican Senate Primary in Ohio"
  ></app-headline>
  <div class="top-stories-inner">
    <div class="left1">
      <app-news-item-variant-iii></app-news-item-variant-iii>
      <app-news-item-variant-iii avatar="ffsfa"></app-news-item-variant-iii>
      <app-news-item-variant-iii avatar="ffsfa"></app-news-item-variant-iii>
    </div>
    <div class="right1">
      <div class="big-story-wrapper">
        <h3>Ohio U.S. Senate Results</h3>
        <figure>
          <picture class="css-cov0u6"
            ><source
              media="screen and (max-width: 600px)"
              srcset="
                https://static01.nyt.com/images/2022/05/03/us/abortion-bans-restrictons-roe-v-wade-promo-1651599223293/abortion-bans-restrictons-roe-v-wade-promo-1651599223293-threeByTwoSmallAt2X-v6.png?format=pjpg&amp;quality=75&amp;auto=webp&amp;disable=upscale
              " />
            <img src="/assets/images/display3.webp" alt=""
          /></picture>
          <caption>
            A minuscule caption tries to be inconspicuous
          </caption>
        </figure>
        <p>
          Fstesf, author of Lisp in Space, have sparkled a thread over 1311
          comments and 290 upvotes as of now.
        </p>
      </div>
    </div>
  </div>
</section>
