<section class="top-stories">
  <div class="section-label">Top stories</div>
  <app-headline
    headline="J.D. Vance Wins Republican Senate Primary in Ohio"
  ></app-headline>
  <div class="top-stories-inner">
    <div class="left1">
      <app-news-item-variant-iii></app-news-item-variant-iii>
      <app-news-item-variant-iii avatar="ffsfa"></app-news-item-variant-iii>
      <app-news-item-variant-iii avatar="ffsfa"></app-news-item-variant-iii>
    </div>
    <div class="right1">
      <div class="big-story-wrapper">
        <h3>Ohio U.S. Senate Results</h3>
        <app-image
          [src]="imagePath"
          description="A minuscule caption tries to be inconspicuous"
        ></app-image>
        <p>
          Fstesf, author of Lisp in Space, have sparkled a thread over 1311
          comments and 290 upvotes as of now.
        </p>
      </div>
    </div>
  </div>
</section>
