<div class="paid-post">
  <div class="wrapper">
    <header>
      <h3>Paid Post</h3>
    </header>
    <div class="content">
      <div class="left">
        <div class="advertiserName">Zenith</div>
        <div class="headline">
          Follow a Former Soccer Player's Path From Sports to Television
        </div>
        <div class="summary">How Ryoma Takeuchi made his dream come true.</div>
      </div>
      <div class="center">
        <div class="posterImage">
          <img src="/assets/images/xenith.jpeg" />
        </div>
      </div>

      <div class="right">
        <div class="logo">
          <img
            src="https://tpc.googlesyndication.com/simgad/1866143731995648670?"
            style="vertical-align: bottom"
          />
        </div>
      </div>
    </div>
  </div>
</div>
