<div class="login-page">
  <a class="logo" routerLink="/">The Hacker Times</a>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="email-wrapper">
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="formInput.email" />
    </div>
    <div class="password-wrapper">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="formInput.password" />
    </div>
    <a routerLink="forgot-password">Forgot password?</a>
    <button
      type="submit"
      [disabled]="!loginForm.valid"
      [ngClass]="{ loading: loading }"
    >
      Login
    </button>
    <p *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </p>
  </form>

  <a class="link" routerLink="/auth/signup"
    >Don't have an account? Register here</a
  >
</div>
