<div class="login-page">
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="username-wrapper">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="formInput.username" />
    </div>
    <div class="password-wrapper">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="formInput.password" />
    </div>
    <a routerLink href="">Forgot password?</a>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

  <a routerLink href="register">Don't have an account? Register here</a>
</div>
