<div class="login-page">
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="email-wrapper">
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="formInput.email" />
    </div>
    <div class="password-wrapper">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="formInput.password" />
    </div>
    <a routerLink="forgot-password">Forgot password?</a>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

  <a routerLink="/signup">Don't have an account? Register here</a>
</div>
