@import "../../../assets/sass/_colors"
.news-item
    display: flex
    border: 1px solid $font
    padding: 25px
    margin-bottom: 5px
    transition: color .4s ease

    &:hover h2
        color: $gray-500

    .left
        padding: 0 15px 0 10px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    .right
        flex-grow: 1
        flex-shrink: 1