<div class="news-item">
  <div class="prelude">
    <div class="author">
      <div class="avatar" [ngClass]="id % 2 == 0 ? 'circle' : 'square1'">
        <img [src]="identiconUrl" alt="identicon" />
      </div>
      <div class="username">
        {{ by }}
      </div>
    </div>
    <div class="actions">
      <button
        [title]="
          addedToReadLater ? 'Remove from Read Later' : 'Save to watch later'
        "
        (click)="onClickAddToWatchLater()"
      >
        <svg
          *ngIf="addedToReadLater"
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          fill="currentColor"
          class="bi bi-check2"
          viewBox="0 0 16 16"
        >
          <path
            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
          />
        </svg>
        <svg
          *ngIf="!addedToReadLater"
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          fill="currentColor"
          class="bi bi-clock"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
          />
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
          />
        </svg>
      </button>
      <a [href]="url" title="View original" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          fill="currentColor"
          class="bi bi-box-arrow-up-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
          />
          <path
            fill-rule="evenodd"
            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
          />
        </svg>
      </a>
    </div>
  </div>

  <a [routerLink]="['/stories', id]">
    <h2>{{ title }}</h2>
    <div class="info">
      <span
        >{{ domain }} | {{ descendants ?? 0 }} comments |
        {{ score ?? 0 }} upvotes | {{ posted | date : 'MMMM d, yyyy' }}</span
      >
    </div>
  </a>
</div>
