<a href="" class="variant-vi">
  <div class="figure-wrapper">
    <figure class="css-1uk1gs8">
      <div class="css-1tnfbcc">
        <picture class="css-cov0u6"
          ><source
            class="css-hdqqnp"
            media="screen and (max-width: 600px)"
            srcset="
              https://static01.nyt.com/images/2022/05/05/podcasts/05stillprocessing-erotic-thrillers/05stillprocessing-erotic-thrillers-square320.jpg?format=pjpg&amp;quality=75&amp;auto=webp&amp;disable=upscale
            " />
          <img
            class="css-yf0ys"
            alt="Michael Douglas and Glenn Close star in “Fatal Attraction,” directed by Adrian Lyne."
            loading="lazy"
            src="https://static01.nyt.com/images/2022/05/05/podcasts/05stillprocessing-erotic-thrillers/05stillprocessing-erotic-thrillers-square320.jpg?format=pjpg&amp;quality=75&amp;auto=webp&amp;disable=upscale"
        /></picture>
      </div>
    </figure>
  </div>

  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, at.</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati rem totam
    exercitationem, assumenda adipisci vero libero delectus corrupti qui quia!
  </p>
</a>
