<a href="" class="variant-vi">
  <div class="figure-wrapper">
    <figure class="css-1uk1gs8">
      <div class="css-1tnfbcc">
        <picture class="css-cov0u6"
          ><source
            class="css-hdqqnp"
            media="screen and (max-width: 600px)"
            [srcset]="imgSrc" />
          <img
            class="css-yf0ys"
            [alt]="imgDescription"
            loading="lazy"
            [src]="imgSrc"
        /></picture>
      </div>
    </figure>
  </div>

  <h3>{{ title }}</h3>
  <p>
    {{ description }}
  </p>
</a>
