@import "../../../assets/sass/_colors"

figure
    position: relative

    &.inset
        figcaption
            position: absolute
            bottom: 15px
            right: 15px
            width: fit-content
            font-weight: 700
            color: rgba(255,255,255,0.75)
            letter-spacing: 0.02em
            text-shadow: 0 0 10px rgba(0,0,0,0.25),1px 1px 1px rgba(0,0,0,0.35),-1px -1px 1px rgba(0,0,0,0.35)

    picture img
        max-width: 100%
    
    figcaption
        width: 100%
        color: $gray-400
        font-size: 12px
        text-align: center

        &.left
            text-align: left

        &.right
            text-align: right

        &.right-small
            font-size: 10px
            text-align: right
            