<div class="comment">
  <article [innerHtml]="comment?.text ?? '' | safeHtml"></article>
  <div class="author">
    <span>{{ comment?.by }}</span> |
    {{ posted | date: 'd MMM, yyyy' }}
  </div>
</div>

@if (comment?.kids) {
  <div class="btnWrapper" [ngClass]="{ collapsed: threadCollapsed }">
    <button class="collapseButton" (click)="toggleThreadCollapse()">
      {{ collapseButtonText }}
      @if (threadCollapsed) {
        <span class="decoration" aria-hidden="true"> ••• </span>
      }
    </button>
  </div>
}

<div #subcomments class="subcomments">
  @for (cmt of comment?.kids; track cmt) {
    <app-comments [commentId]="cmt"></app-comments>
  }
</div>
