@import "../../../assets/sass/_colors"

.comment
    margin-bottom: 20px
    .author
        span
            font-style: italic
            color: $gray-500

.subcomments
    padding-left: 15px
    border-left: 1px solid $gray-300
