<div class="comment">
  <article [innerHtml]="comment?.text ?? '' | safeHtml"></article>
  <div class="author">
    <span>{{ comment?.by }}</span> |
    {{ posted | date: 'd MMM, yyyy' }}
  </div>
</div>

<div
  *ngIf="comment?.kids"
  class="btnWrapper"
  [ngClass]="{ collapsed: threadCollapsed }"
>
  <button class="collapseButton" (click)="toggleThreadCollapse()">
    {{ collapseButtonText }}
    <span *ngIf="threadCollapsed" class="decoration" aria-hidden="true">
      •••
    </span>
  </button>
</div>

<div #subcomments class="subcomments">
  <app-comments
    *ngFor="let cmt of comment?.kids"
    [commentId]="cmt"
  ></app-comments>
</div>
