<div class="header-wrapper">
  <div class="actions">
    <div class="left">
      <button class="menu" title="Menu" (click)="toggleSidebar()">
        <svg class="css-1fe7a5q" width="16" height="16" viewBox="0 0 16 16">
          <rect x="1" y="3" fill="#333" width="14" height="2"></rect>
          <rect x="1" y="7" fill="#333" width="14" height="2"></rect>
          <rect x="1" y="11" fill="#333" width="14" height="2"></rect>
        </svg>
      </button>
      <button class="bookmark">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-bookmarks"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"
          />
          <path
            d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"
          />
        </svg>
      </button>
      <button class="read-later">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-clock"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
          />
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
          />
        </svg>
      </button>
    </div>
    <div class="right">
      <button class="subscribe">Subscribe for $0.00/Week</button>
      <button class="login" *ngIf="!user; else logout_button">Login</button>
      <ng-template #logout_button>
        <button class="logout">Logout</button>
      </ng-template>
    </div>
  </div>
  <header>
    <div class="left">
      <div class="date">
        <span>{{ now | date: 'fullDate' }}</span>
      </div>
      <div>
        <a href="https://news.ycombinator.com/" target="_blank"
          >Official Hackernews</a
        >
      </div>
    </div>

    <div class="middle">
      <a routerLink="/" class="logo">
        <span>The Hacker Times</span>
      </a>
    </div>

    <div class="right">
      <div>
        <span>{{ timeInDay }} {{ now | date: 'shortTime' | lowercase }}</span>
      </div>
      <div>
        <span>{{ user?.email }}</span>
      </div>
      <!-- <ng-template [ngIf]="user" [ngIfElse]="loginLink">
        <div>{{ user.email }}</div>
      </ng-template>

      <ng-template #loginLink>
        <a routerLink="/login" class="login">Login</a>
      </ng-template> -->
    </div>
  </header>
  <nav>
    <ul>
      <li>
        <a routerLink="/top" routerLinkActive="active">Top</a>
      </li>
      <li>
        <a routerLink="/ask" routerLinkActive="active">Ask</a>
      </li>
      <li>
        <a routerLink="/show" routerLinkActive="active">Show</a>
      </li>
      <li>
        <a routerLink="/job" routerLinkActive="active">Job</a>
      </li>
      <li>
        <a routerLink="/random" routerLinkActive="active">Random</a>
      </li>
    </ul>
  </nav>
</div>
