<div class="header-wrapper">
  <header>
    <div class="left" title="Menu" (click)="toggleSidebar()">
      <svg
        width="17"
        height="15"
        viewBox="0 0 17 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="1" y="1" width="15" height="3" rx="1" fill="#1E1E1E" />
        <rect x="1" y="6" width="15" height="3" rx="1" fill="#1E1E1E" />
        <rect x="1" y="11" width="15" height="3" rx="1" fill="#1E1E1E" />
      </svg>
      <span>Menu</span>
    </div>

    <div class="middle">
      <a routerLink="/" class="logo">
        <span>The Hacker Times</span>
      </a>
    </div>

    <div class="right">
      <ng-template [ngIf]="user" [ngIfElse]="loginLink">
        <div>{{ user.email }}</div>
      </ng-template>

      <ng-template #loginLink>
        <a routerLink="/login" class="login">Login</a>
      </ng-template>
    </div>
  </header>
</div>
