@import "../assets/sass/_breakpoints"

.layout
    display: flex
    flex-direction: column
    min-height: 100vh

.container
    flex: 1
    display: flex
    justify-content: center
    margin: 0 auto
    padding: 50px 20px

@media screen and(min-width: $xl)
    .container
        width: $xl
        padding: 50px