<section class="ask-stories">
  <div class="section-label">Ask stories</div>
  <div class="square"></div>
  <div class="better-stories">
    <app-news-item-variant-v mode="dfsf"></app-news-item-variant-v>
    <div class="usual-story">
      <app-news-item-variant-v></app-news-item-variant-v>
    </div>
  </div>
  <div class="divider"></div>
  <div class="ask-stories-inner">
    <app-news-item-variant-ii
      *ngFor="let i of range(3)"
      headline="The draft opinion, by Justice Samuel Alito, set out familiar critiques of the Roe decision."
    ></app-news-item-variant-ii>
  </div>
</section>
