<section class="ask-stories">
  <div class="section-label">Ask stories</div>
  <div class="square"></div>
  <div class="better-stories">
    <app-news-item-variant-v
      mode="dfsf"
      imgSrc="https://static01.nyt.com/images/2022/05/21/multimedia/21election-labor/21election-labor-threeByTwoMediumAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale"
      imgDescription="Labor Party supporters in Sydney, Australia, reacted to election updates."
      description="Labor Party supporters in Sydney, Australia, reacted to election updates."
      title="Labor Party Fiesta rocking in the Downton"
    ></app-news-item-variant-v>
    <div class="usual-story">
      <app-news-item-variant-v></app-news-item-variant-v>
    </div>
  </div>
  <div class="divider"></div>
  <div class="ask-stories-inner">
    <app-news-item-variant-ii
      *ngFor="let i of range(3)"
      [id]="i"
      title="The draft opinion, by Justice Samuel Alito, set out familiar critiques of the Roe decision."
    ></app-news-item-variant-ii>
  </div>
</section>
