<section class="ask-stories">
  <div class="section-label">Ask stories</div>
  <div class="square"></div>
  <div class="better-stories">
    <app-news-item-variant-v
      mode="dfsf"
      imgSrc="https://static01.nyt.com/images/2022/05/21/multimedia/21election-labor/21election-labor-threeByTwoMediumAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale"
      imgDescription="Labor Party supporters in Sydney, Australia, reacted to election updates."
      description="Labor Party supporters in Sydney, Australia, reacted to election updates."
      [title]="story?.title ?? ''"
      [id]="story?.id ?? 0"
    ></app-news-item-variant-v>
    <div class="usual-story">
      <app-news-item-variant-v
        [title]="story2?.title ?? ''"
        [id]="story2?.id ?? 0"
      ></app-news-item-variant-v>
    </div>
  </div>
  <div class="divider"></div>
  <div class="ask-stories-inner">
    <app-news-item-variant-ii
      [id]="story3?.id ?? 0"
      [title]="story3?.title ?? ''"
    ></app-news-item-variant-ii
    ><app-news-item-variant-ii
      [id]="story4?.id ?? 0"
      [title]="story4?.title ?? ''"
    ></app-news-item-variant-ii
    ><app-news-item-variant-ii
      [id]="story5?.id ?? 0"
      [title]="story5?.title ?? ''"
    ></app-news-item-variant-ii>
  </div>
</section>
