<a [routerLink]="['/stories', id]">
  <article class="story-preview">
    @if (avatarUrl) {
      <div class="avatar-container">
        <div class="avatar">
          <img [src]="avatarUrl" alt="my avatar" />
        </div>
      </div>
    }
    <div class="story-content">
      @if (author) {
        <p class="author">{{ author }}</p>
      }
      @if (imageUrl) {
        <app-image [src]="imageUrl" description=""></app-image>
      }
      <h3 [class]="titleClass">{{ title }}</h3>
      @if (description) {
        <p class="description">{{ description }}</p>
      }
    </div>
  </article>
</a>
