<article>
  <section class="heading">
    <h1>Hacker News FAQ</h1>
    <p>
      Frequently asked questions for Hacker News from
      <a target="_blank" href="https://news.ycombinator.com/newsfaq.html"
        >original</a
      >
      post by Y Combinator.
    </p>
  </section>

  <section class="qna">
    <div class="question">
      <h2>How are stories ranked?</h2>
      <p>
        The basic algorithm divides points by a power of the time since a story
        was submitted. Comments in threads are ranked the same way.
      </p>

      <p>
        Other factors affecting rank include user flags, anti-abuse software,
        software which demotes overheated discussions, account or site
        weighting, and moderator action.
      </p>
    </div>

    <div class="question">
      <h2>How is a user's karma calculated?</h2>
      <p>
        Roughly, the number of upvotes on their posts minus the number of
        downvotes. These don't match up exactly. Some votes are dropped by
        anti-abuse software.
      </p>
    </div>

    <div class="question">
      <h2>Do posts by user with more karma rank higher?</h2>
      <p>No.</p>
    </div>

    <div class="question">
      <h2>What are Ask HN and Show HN?</h2>
      <p>
        Ask HN lists questions and other text submissions. Show HN is for
        sharing your personal work and has special rules.
      </p>
    </div>

    <div class="question">
      <h2>What does [dead] mean?</h2>
      <p>The post was killed by software, user flags, or moderators.</p>
      <p>
        Dead posts aren't displayed by default, but you can see them all by
        turning on 'showdead' in your profile.
      </p>
      <p>
        If you see a [dead] post that shouldn't be dead, you can vouch for it.
        Click on its timestamp to go to its page, then click 'vouch' at the top.
        When enough users do this, the post is restored. There's a small karma
        threshold before vouch links appear.
      </p>
    </div>

    <div class="question">
      <h2>What does [deleted] mean?</h2>
      <p>
        The author deleted the post outright, or asked us to. Unlike dead posts,
        these remain deleted even when showdead is turned on.
      </p>
    </div>
  </section>
  <p class="updated">Updated on 14 December 2021, 7.32PM GMT+8</p>
</article>
