<section class="carousel">
  <!-- headline  -->
  <app-headline></app-headline>

  <!-- middle section -->
  <div class="middle">
    <div class="middle-left">
      <div class="middle-left-inner">
        <div class="news">
          <app-news-item-variant-ii
            class="entry-news"
            [id]="story?.id ?? 1"
            [title]="story?.title ?? ''"
            description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate porro fugit nostrum autem repellendus ipsa dolorem debitis iusto, quo minima est eum tempore consequuntur repellat. Eius quam at esse deleniti."
            titleFontSize="text-lg"
            titleMarginBottom="mb-lg"
          ></app-news-item-variant-ii>
          <app-news-item-variant-ii
            [id]="story2?.id ?? 1"
            [title]="story2?.title ?? ''"
            titleMarginBottom="mb-md"
            description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. "
          ></app-news-item-variant-ii>
        </div>
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="middle-right">
      <div class="story-wrapper">
        <figure>
          <picture class="css-cov0u6"
            ><source
              class="css-hdqqnp"
              media="screen and (max-width: 600px)"
              srcset="
                https://static01.nyt.com/images/2022/05/03/us/abortion-bans-restrictons-roe-v-wade-promo-1651599223293/abortion-bans-restrictons-roe-v-wade-promo-1651599223293-threeByTwoSmallAt2X-v6.png?format=pjpg&amp;quality=75&amp;auto=webp&amp;disable=upscale
              " />
            <img class="css-o9w048" src="/assets/images/display2.png" alt=""
          /></picture>
        </figure>
        <div class="dummy"></div>
        <h3>
          See where abortion could be banned in the U.S. without Roe v. Wade.
        </h3>
      </div>
      <div class="story-wrapper">
        <a [routerLink]="['/stories', story3?.id ?? 0]">
          <h3>{{ story3?.title ?? '' }}</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
            deserunt laboriosam corrupti..
          </p>
        </a>
      </div>
    </div>
  </div>

  <!-- bottom section -->
  <div class="bottom">
    <div class="bottom-inner">
      <app-news-item-variant-ii
        [id]="story4?.id ?? 1"
        [title]="story4?.title ?? ''"
      ></app-news-item-variant-ii
      ><app-news-item-variant-ii
        [id]="story5?.id ?? 1"
        [title]="story5?.title ?? ''"
      ></app-news-item-variant-ii
      ><app-news-item-variant-ii
        [id]="story6?.id ?? 1"
        [title]="story6?.title ?? ''"
      ></app-news-item-variant-ii
      ><app-news-item-variant-ii
        [id]="story7?.id ?? 1"
        [title]="story7?.title ?? ''"
      ></app-news-item-variant-ii
      ><app-news-item-variant-ii
        [id]="story8?.id ?? 1"
        [title]="story8?.title ?? ''"
      ></app-news-item-variant-ii>
    </div>
  </div>
</section>
