@import "../../../../assets/sass/_colors"
@import "../../../../assets/sass/_fonts"
@import "../../../../assets/sass/_breakpoints"

.footer-wrapper
    background: white
    padding-top: 2px

    .decorator
        height: 2px
        background: $font
        width: 100%
        position: relative
        &::after
            content: ''
            position: absolute
            width: 100%
            bottom: -3px
            left: 0
            height: 1px
            background: $font
    footer
        max-width: 1200px
        margin: 0 auto
        padding: 30px 0

        .logo
            font-family: $cloister-black
            font-size: 24px
            margin-bottom: 20px

        .grid
            font-family: $readex-pro
            display: grid
            grid-template-columns: repeat(6, 1fr)
            font-size: 14px
            margin-bottom: 20px

            .title
                display: block
                height: 25px
                font-size: 13px
                font-weight: 700

            .item
                height: 23px
                color: $gray-700
                display: block

        .info
            border-top: 1px solid black
            padding: 10px 0
            font-size: 14px
// @media screen and ( min-width: $xl )
    