<div class="footer-wrapper">
  <div class="decorator"></div>
  <footer>
    <div class="logo">The Hacker Times</div>
    <div class="grid">
      <section class="column">
        <h3 class="title">About</h3>
        <a class="item">The project</a>
        <a class="item" href="https://github.com/data-miner00/ng-hackernews"
          >Source code</a
        >
        <a class="item" href="https://github.com/data-miner00">Author</a>
        <a class="item">FAQs</a>
        <a class="item">Tech stacks</a>
        <a class="item">Contributing</a>
        <a class="item">Upcoming</a>
        <a class="item">Request For Comments</a>
        <a class="item">Designs</a>
        <a class="item">Hosting</a>
        <a class="item">Impressum</a>
        <a class="item">History</a>
      </section>
      <section class="column">
        <h3 class="title">Health</h3>
        <a class="item" href="https://www.webmd.com/">WebMD</a>
        <a class="item" href="https://www.cdc.gov/">CDC</a>
        <a class="item" href="https://www.healthline.com/">Healthline</a>
        <a class="item" href="https://www.mayoclinic.org/">Mayo Clinic</a>
        <a class="item" href="https://www.who.int/">WHO</a>
      </section>
      <section class="column">
        <h3 class="title">Technology</h3>
        <a class="item" href="https://angular.io/">Angular</a>
        <a class="item" href="https://rxjs.dev/">RxJs</a>
        <a class="item" href="https://tailwindcss.com/">Tailwind CSS</a>
        <a class="item" href="https://storybook.js.org/">Storybook</a>
        <a class="item" href="https://rubyonrails.org/">Rails</a>
        <a class="item" href="https://laravel.com/">Laravel</a>
      </section>
      <section class="column">
        <h3 class="title">Science</h3>
        <a class="item" href="https://www.nature.com/">Nature</a>
        <a class="item" href="https://www.newscientist.com/">New Scientist</a>
        <a class="item" href="https://www.nasa.gov/">Nasa</a>
        <a class="item" href="https://phys.org/">Phys</a>
        <a class="item" href="https://www.wolframalpha.com/">Wolfram</a>
        <a class="item" href="https://www.compoundchem.com/"
          >Compound Interest</a
        >
        <a class="item" href="https://www.livescience.com/">Live Science</a>
      </section>
      <section class="column">
        <h3 class="title">News</h3>
        <a class="item" href="https://www.nytimes.com/">New York Times</a>
        <a class="item" href="https://www.cnbc.com/">CNBC</a>
        <a class="item" href="https://www.scmp.com/">SCMP</a>
        <a class="item" href="https://www.bbc.com/">BBC News</a>
        <a class="item" href="https://www.theguardian.com/">The Guardian</a>
        <a class="item" href="https://www.independent.co/">Independent Co</a>
        <a class="item" href="https://edition.cnn.com/">CNN</a>
        <a class="item" href="https://www.insider.com/">Insider Asia</a>
        <a class="item" href="https://flipboard.com/">Flipboard</a>
      </section>
      <section class="column">
        <h3 class="title">Socials & Community</h3>
        <a class="item" href="https://stackoverflow.com/">Stack Overflow</a>
        <a class="item" href="https://dev.to/">Dev.to</a>
        <a class="item" href="https://www.quora.com/">Quora</a>
        <a class="item" href="https://medium.com/">Medium</a>
        <a class="item" href="https://hashnode.com/">Hashnode</a>
        <a class="item" href="https://github.com">GitHub</a>
        <a class="item" href="https://facebook.com">Facebook</a>
        <a class="item" href="https://instagram.com">Instagram</a>
        <a class="item" href="https://twitter.com">Twitter</a>
        <a class="item" href="https://pinterest.com">Pinterest</a>
        <a class="item" href="https://discord.com">Discord</a>
        <a class="item" href="https://reddit.com">Reddit</a>
      </section>
    </div>
    <div class="info">
      <span>&copy; 2023 The Hacker Times. All rights reserved.</span>
    </div>
  </footer>
</div>
