<div class="footer-wrapper">
  <div class="decorator"></div>
  <footer>
    <div class="logo">The Hacker Times</div>
    <div class="grid">
      <section class="column">
        <h3 class="title">About</h3>
        <ul>
          <li><a class="item">The project</a></li>
          <li>
            <a class="item" href="https://github.com/data-miner00/ng-hackernews"
              >Source code</a
            >
          </li>
          <li>
            <a class="item" href="https://github.com/data-miner00">Author</a>
          </li>
          <li><a class="item">FAQs</a></li>
          <li><a class="item">Tech stacks</a></li>
          <li><a class="item">Contributing</a></li>
          <li><a class="item">Upcoming</a></li>
          <li><a class="item">Request For Comments</a></li>
          <li><a class="item">Designs</a></li>
          <li><a class="item">Hosting</a></li>
          <li><a class="item">Impressum</a></li>
          <li><a class="item">History</a></li>
        </ul>
      </section>
      <section class="column">
        <h3 class="title">Health</h3>
        <ul>
          <li><a class="item" href="https://www.webmd.com/">WebMD</a></li>

          <li><a class="item" href="https://www.cdc.gov/">CDC</a></li>
          <li>
            <a class="item" href="https://www.healthline.com/">Healthline</a>
          </li>
          <li>
            <a class="item" href="https://www.mayoclinic.org/">Mayo Clinic</a>
          </li>
          <li><a class="item" href="https://www.who.int/">WHO</a></li>
        </ul>
      </section>
      <section class="column">
        <h3 class="title">Technology</h3>
        <ul>
          <li><a class="item" href="https://angular.io/">Angular</a></li>
          <li><a class="item" href="https://rxjs.dev/">RxJs</a></li>
          <li>
            <a class="item" href="https://tailwindcss.com/">Tailwind CSS</a>
          </li>
          <li>
            <a class="item" href="https://storybook.js.org/">Storybook</a>
          </li>
          <li><a class="item" href="https://rubyonrails.org/">Rails</a></li>
          <li><a class="item" href="https://laravel.com/">Laravel</a></li>
        </ul>
      </section>
      <section class="column">
        <h3 class="title">Science</h3>
        <ul>
          <li><a class="item" href="https://www.nature.com/">Nature</a></li>
          <li>
            <a class="item" href="https://www.newscientist.com/"
              >New Scientist</a
            >
          </li>
          <li><a class="item" href="https://www.nasa.gov/">Nasa</a></li>
          <li><a class="item" href="https://phys.org/">Phys</a></li>
          <li>
            <a class="item" href="https://www.wolframalpha.com/">Wolfram</a>
          </li>
          <li>
            <a class="item" href="https://www.compoundchem.com/"
              >Compound Interest</a
            >
          </li>
          <li>
            <a class="item" href="https://www.livescience.com/">Live Science</a>
          </li>
        </ul>
      </section>
      <section class="column">
        <h3 class="title">News</h3>

        <ul>
          <li>
            <a class="item" href="https://www.nytimes.com/">New York Times</a>
          </li>
          <li><a class="item" href="https://www.cnbc.com/">CNBC</a></li>
          <li><a class="item" href="https://www.scmp.com/">SCMP</a></li>
          <li><a class="item" href="https://www.bbc.com/">BBC News</a></li>
          <li>
            <a class="item" href="https://www.theguardian.com/">The Guardian</a>
          </li>
          <li>
            <a class="item" href="https://www.independent.co/"
              >Independent Co</a
            >
          </li>
          <li><a class="item" href="https://edition.cnn.com/">CNN</a></li>
          <li>
            <a class="item" href="https://www.insider.com/">Insider Asia</a>
          </li>
          <li><a class="item" href="https://flipboard.com/">Flipboard</a></li>
        </ul>
      </section>
      <section class="column">
        <h3 class="title">Socials & Community</h3>

        <ul>
          <li>
            <a class="item" href="https://stackoverflow.com/">Stack Overflow</a>
          </li>
          <li><a class="item" href="https://dev.to/">Dev.to</a></li>
          <li><a class="item" href="https://www.quora.com/">Quora</a></li>
          <li><a class="item" href="https://medium.com/">Medium</a></li>
          <li><a class="item" href="https://hashnode.com/">Hashnode</a></li>
          <li><a class="item" href="https://github.com">GitHub</a></li>
          <li><a class="item" href="https://facebook.com">Facebook</a></li>
          <li><a class="item" href="https://instagram.com">Instagram</a></li>
          <li><a class="item" href="https://twitter.com">Twitter</a></li>
          <li><a class="item" href="https://pinterest.com">Pinterest</a></li>
          <li><a class="item" href="https://discord.com">Discord</a></li>
          <li><a class="item" href="https://reddit.com">Reddit</a></li>
        </ul>
      </section>
    </div>
    <div class="info">
      <span>&copy; 2023 The Hacker Times. All rights reserved.</span>
    </div>
  </footer>
</div>
