<div class="footer-wrapper">
  <div class="decorator"></div>
  <footer>
    <div class="logo">The Hacker News</div>
    <div class="grid">
      <section class="column">
        <h3 class="title">About</h3>
        <div class="item">The project</div>
        <div class="item">Source code</div>
        <div class="item">Author</div>
        <div class="item">FAQs</div>
        <div class="item">Tech stacks</div>
        <div class="item">Contributing</div>
        <div class="item">Upcoming</div>
        <div class="item">Request For Comments</div>
        <div class="item">Designs</div>
        <div class="item">Hosting</div>
        <div class="item">Impressum</div>
        <div class="item">History</div>
      </section>
      <section class="column">
        <h3 class="title">Health</h3>
        <div class="item">WebMD</div>
        <div class="item">CDC</div>
        <div class="item">Healthline</div>
        <div class="item">Mayo Clinic</div>
        <div class="item">WHO</div>
      </section>
      <section class="column">
        <h3 class="title">Technology</h3>
        <div class="item">Angular</div>
        <div class="item">Rust</div>
        <div class="item">Data Science</div>
        <div class="item">Ruby on Rails</div>
        <div class="item">Blockchain</div>
        <div class="item">Laravel</div>
      </section>
      <section class="column">
        <h3 class="title">Science</h3>
        <div class="item">Nature</div>
        <div class="item">New Scientist</div>
        <div class="item">Nasa</div>
        <div class="item">Phys</div>
        <div class="item">Wolfram</div>
        <div class="item">Compound Interest</div>
        <div class="item">Live Science</div>
      </section>
      <section class="column">
        <h3 class="title">News</h3>
        <div class="item">New York Times</div>
        <div class="item">CNBC</div>
        <div class="item">SCMP</div>
        <div class="item">BBC News</div>
        <div class="item">The Guardian</div>
        <div class="item">Independent Co</div>
        <div class="item">CNN</div>
        <div class="item">Insider Asia</div>
        <div class="item">Flipboard</div>
      </section>
      <section class="column">
        <h3 class="title">Socials & Community</h3>
        <div class="item">Stack Overflow</div>
        <div class="item">Dev.to</div>
        <div class="item">Quora</div>
        <div class="item">Medium</div>
        <div class="item">Hashnode</div>
        <div class="item">GitHub</div>
        <div class="item">Facebook</div>
        <div class="item">Instagram</div>
        <div class="item">Twitter</div>
        <div class="item">Pinterest</div>
        <div class="item">Discord</div>
        <div class="item">Reddit</div>
      </section>
    </div>
  </footer>
</div>
