<div class="overlay" (click)="toggleSidebar()">
    <nav (click)="stopPropagation($event)">
        <div class="top"></div>
        <ul>
            <li>
                <a class="active" href=""><span>Top Stories</span></a>
            </li>
            <li>
                <a href=""><span>Ask Stories</span></a>
            </li>
            <li>
                <a href=""><span>Show Stories</span></a>
            </li>
            <li>
                <a href=""><span>Job Stories</span></a>
            </li>
        </ul>
    </nav>
</div>
