<div class="overlay hidden" (click)="toggleSidebar()" #overlay>
  <nav (click)="stopPropagation($event)">
    <div class="top"></div>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span>Home</span></a
        >
      </li>
      <li>
        <a routerLink="/top-stories" routerLinkActive="active"
          ><span>Top Stories</span></a
        >
      </li>
      <li>
        <a routerLink="/ask-stories" routerLinkActive="active"
          ><span>Ask Stories</span></a
        >
      </li>
      <li>
        <a routerLink="/show-stories" routerLinkActive="active"
          ><span>Show Stories</span></a
        >
      </li>
      <li>
        <a routerLink="/job-stories" routerLinkActive="active"
          ><span>Job Stories</span></a
        >
      </li>
    </ul>
    <footer>
      <div class="source">
        API by
        <a
          href="https://news.ycombinator.com/news"
          title="Y Combinator"
          target="_blank"
          >Y Combinator</a
        >
      </div>
      <div class="copyright">&copy; 2021 Shaun Chong.</div>
    </footer>
  </nav>
</div>
