
@use "../../../../assets/sass/_colors"
@use "../../../../assets/sass/_breakpoints"
@use "../../../../assets/sass/_fonts"

.overlay
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100%
    transition: left .8s ease-out
    z-index: 10

    &.hidden
        left: -100%

    .top
        width: 100%

        .logo
            font-family: CloisterBlack
            font-size: 2.6rem
        
            display: block
            padding: 30px 50px
            cursor: pointer

    nav
        width: 250px
        background: white
        height: 100%
        border-right: 1px solid colors.$font
        display: flex
        flex-direction: column

        li
            border-top: 1px solid colors.$font

            &:last-of-type
                border-bottom: 1px solid colors.$font

            a
                display: block
                padding: 20px 25px
                transition: all .2s ease-in-out

                &.active,
                &:hover
                    color: white
                    background: colors.$font

        footer
            padding: 20px
            margin-top: auto
            text-align: center
            font-size: .8rem

            a
                text-decoration: underline
                transition: color .4s ease

                &:hover
                    color: colors.$blue-500

@media screen and (min-width: breakpoints.$xl)
    .overlay
        nav
            width: 300px

            li
                a
                    padding: 40px 50px
