<aside>
  <div class="divider"></div>
  <section class="job-stories">
    <div class="section-label">Job stories</div>
    <app-news-item-variant-iv></app-news-item-variant-iv>
    <app-news-item-variant-iv avatar="dfsdfd"></app-news-item-variant-iv>
    <div class="ads">
      <div>
        <img src="/assets/images/aws-ad.png" alt="AWS Ads" />
      </div>
    </div>
    <app-news-item-variant-iv></app-news-item-variant-iv>
    <app-news-item-variant-iv illus="fdsf"></app-news-item-variant-iv>
    <div class="doubly">
      <app-news-item-variant-iv></app-news-item-variant-iv>
      <app-news-item-variant-iv></app-news-item-variant-iv>
    </div>
  </section>
</aside>
